/*.body{
background-image: images/pan_gt.png;
}*/

img{
  align-items: center;
  padding: 1px;
  border: 10px solid red;
}

.parrafos{
  font-style: italic;color: blue;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}

table{
  border: 0;
  align-content: center;
}
